NODE_ENV='local'
WEB_APP_URL='http://localhost:3001'
POSTGRES_URI='postgresql://postgres:postgres@localhost:5432/acme_ev'
MONGO_URI='mongodb://localhost:27017/acme_ev'
JWT_SECRET='your-jwt-secret-here'
JWT_EXPIRES_IN='1h'
